.post {
    background-color: gray;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 900px;
    border: solid crimson 4px;
}
.comment-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2px;
}
.comment {
    background-color: #4a5568;
    margin: 0 20px 0 20px;
    padding: 10px;
    color: white;
}
.btn {
    padding: 10px;
    background-color: lightblue;
}
#posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.car-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid red 1px;
}
.filter {
    padding: 20px;
    background-color: orange;
    max-width: 300px;
    border-radius: 20px;
}
.comment-reply {
    background-color: #4a5568;
    margin: 0 20px 0 50px;
    padding: 10px;
    color: white;
    border: solid limegreen 2px;
    border-radius: 10px;
}
